<style>
  #card{
    transition: 0.6s;
    cursor: pointer;
  }
  #card :hover {
    transform: translateY(10px);
    transition: 0.6s;
  }
</style>

<section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Services</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-cart"></span>
              </div>
              <div id="card" class="card-title-c align-self-center">
                <h3 class="title-c">Rent Collection</h6>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                This organization offers collfection of rent. on your behalf
              </p>
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-calendar4-week"></span>
              </div>
              <div id="card" class="card-title-c align-self-center">
                <h2 class="title-c">Supervision </h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                All utilities such as water electricity is ensured to avvoid any inconvenience with our customers
              </p>
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-calendar4-week"></span>
              </a>
            </div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div id="card" class="card-title-c align-self-center">
                <h2 class="title-c">Quick Response</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                This system provides a system where a tenant can be able to forward his/her grievances to our support team
              </p>
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div> -->
          </div>
        </div>
        <div  class="col-md-4">
          <div  class="card-box-c foo">
            <div  class="card-header-c d-flex">
              <div  class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div id="card" class="card-title-c align-self-center">
                <h2 class="title-c">Online Booking</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c text-dark" >
                This system provides a procedure where a tenant can be able to book any availabble house online               </p>
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div> -->
          </div>
        </div>
        <div  class="col-md-4">
          <div  class="card-box-c foo">
            <div  class="card-header-c d-flex">
              <div  class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div id="card" class="card-title-c align-self-center">
                <h2 class="title-c">Maintainance</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c text-dark" >
                Provinsion of maintainance services when needed
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div> -->
          </div>
        </div>
        <div  class="col-md-4">
          <div  class="card-box-c foo">
            <div  class="card-header-c d-flex">
              <div  class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div id="card" class="card-title-c align-self-center">
                <h2 class="title-c">Advertisements</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c text-dark" >
                Provinsion of maintainance services when needed
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div> -->
          </div>
        </div>

      </div>
    </div>
  </section>