{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Registration Page {% endblock %}

{% block  content %}
{% include 'partials/navbar.html' %}

<main>
    <div class="container">

      <section >
        <div class="container">
          <div class="row justify-content-center">
            <div class=" d-flex flex-column align-items-center justify-content-center">
              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                 
                </a>
              </div>
              <div class="card mb-3">
                <div class="card-body shadow">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4 text-success">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>
                  <form method="POST" novalidate>
                    <div class="col-12">
                      {% csrf_token %}
                      {{register_form|crispy}}
                    </div>
                    <div class="col-12 mt-3">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-success w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small  mb-0">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main>

{% endblock %}

